<section class="wrapper">
    <img class="bgr-img" src="/burger.png" />
    <div></div>
    <h1>Burger-Time!</h1>

    <h2>Burgers ready to devour!</h2>

    <ul id="unconsumed">
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
    </ul>
    </div>
    <div>
        <h2>Devoured burgers!</h2>

        <ul id="consumed">
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devoured=true}}
            {{/if}}
            {{/each}}
        </ul>
    </div>

    <h2>Add a burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="name"></label>
            <input type="text" id="burger" name="name">
        </div>

        <button type="submit">Add burger</button>
    </form>
    <p>Enter a burger to add to the list, click "Add Burger"</p>
</section>