* {
  background-color: #861e1e;
}

body {
  font-family: sans-serif;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.bgr-img {
  max-width: 300px;
  width: 100px;
  height: auto;
}
#unconsumed {
  float: left;
  width: 50%;
}
#consumed {
  float: right;
  width: 50%;
}
