* {
  background-color: #861e1e;
}

body {
  font-family: sans-serif;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  align-content: center;
}

.bgr-img {
  max-width: 400px;
  width: 150px;
  height: auto;
}

#unconsumed {
  float: left;
  width: 50%;
}

#consumed {
  float: right;
  width: 50%;
}
#ca {
  margin-left: 50px;
  background-color: lightgreen;
  border-radius: 4px;
  padding: 10px;
  width: 300px;

  text-align: center;
  font-size: 14pt;
}
